@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Epilogue:ital,wght@0,500;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    letter-spacing: -.02em;
    background-color: #f3eee2;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(496px, 1fr));
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em;
}

h2 {
    font-size: 5rem;
    font-family: 'Epilogue', serif;
    font-weight: 500;
    line-height: 1.2;
    width: 100%;
}

p {
    margin: 1rem 0.5rem;
    margin-right: 1rem;
    max-width: 20rem;
}

.counter {
    font-size: 1.25rem;
}

button {
    background-color: rgb(222, 42, 2);
    color: #f3eee2;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-family: 'Poppins', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px 0px;
    width: fit-content;
    height: fit-content;
}

button:hover {
    background-color: #d62f1a;
}

.log-panel {
    background-color: rgb(222, 42, 2);
    color: #f3eee2;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    min-width: 40vw;
    min-height: 20rem;
    padding: 0.5rem;
    padding: 1.5rem;
}

.log-container {
    border-radius: 12px;
    overflow: hidden;
}

#chain-id {
    font-family: monospace;
}

.log-entry {
    font-family: monospace;
    font-size: 0.9rem;
    padding: 0.5rem;
    overflow: hidden;
}

.log-entry .height {
    min-width: 3em;
}

.hash {
    font-family: monospace;
    background-color: rgba(255, 255, 255, 0.1);
}

.arrow {
    height: 79px;
    width: 42px;
    aspect-ratio: inherit;
    animation: 1s infinite alternate breathe ease-out;
    will-change: transform;
}

@keyframes breathe {
    from {
        scale: 100%;
    }

    to {
        scale: 120%;
    }
}

@media (max-width: 992px) {
    .content {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}

.ui {
    display: flex;
    flex-direction: column;
}

@media (max-width: 992px) {
    .ui {
        align-items: center;
    }
}
